body:not(._unspoil-off) .video-preview-card__meta:last-of-type, body:not(._unspoil-off) .card__meta.card__meta--right { /*TODO remove old*/
  display: none !important;
}

body:not(._unspoil-off) .player-slider__popup-container .popup-timestamp {
  display: none !important;
}

body:not(._unspoil-off) .video-chat__input {
  display: none !important;
}
