/* Hide vod length label */
/* body:not(._unspoil-off) .ScPositionCorner-sc-1iiybo2-1:nth-child(2) > * { */
body:not(._unspoil-off) .hyKylJ > * {
	color: transparent !important;
	text-shadow: 0 0 5px #fff !important;
}
/* Blur vod preview */
body:not(._unspoil-off) .preview-card-thumbnail__image {
	filter: blur(4px);
}

/* Full-height chat */
body:not(._unspoil-off) .chat-room__notifications, body:not(._unspoil-off) .chat-input, body:not(._unspoil-off) .channel-leaderboard {
	display: none !important;
}

/* Hide video scrubber */
body:not(._unspoil-off) .player-controls > *:first-child {
	visibility: hidden !important;
}

/* Hide home video */
body:not(._unspoil-off) .home-video__wrapper {
	display: none !important;
}
