/* Hide vod length label */

body:not(._unspoil-off) .preview-card-overlay > [data-test-selector="top-left-selector"] {
	visibility: hidden !important;
}

/* Full-height video */

body:not(._unspoil-off) .whispers-threads-box__container {
	display: none !important;
}

body:not(._unspoil-off) .highwind-video-player__container--theatre-whispers {
	bottom: 0 !important;
}

/* Full-height chat */

body:not(._unspoil-off) .video-chat__header, body:not(._unspoil-off) .video-chat__input {
	display: none !important;
}

/* Hide video scrubber */

body:not(._unspoil-off) .player-controls > *:first-child {
	visibility: hidden !important;
}
