/* Hide vod length label */
body:not(._unspoil-off) .tw-media-card-image__corners > *:first-child p {
	color: transparent !important;
	text-shadow: 0 0 5px #fff !important;
}

/* Full-height chat */
body:not(._unspoil-off) .chat-room__notifications, body:not(._unspoil-off) .chat-input, body:not(._unspoil-off) .channel-leaderboard {
	display: none !important;
}

/* Hide video scrubber */
body:not(._unspoil-off) .player-controls > *:first-child {
	visibility: hidden !important;
}
