/* Seek control */

#_unspoil-seek {
	padding: 0 1rem !important;
}

#_unspoil-seek ._unspoil-separator {
	padding: 0 8px !important;
}

#_unspoil-seek ._unspoil-faint {
	opacity: 0.9;
	color: #eee !important;
}

#_unspoil-seek button {
	margin: 0 2px !important;
	outline: none !important;
	background: none !important;
	font-size: 12px !important;
}
#_unspoil-seek button:hover, #_unspoil-seek button:hover ._unspoil-faint {
	color: rgb(169, 145, 212) !important;
}
#_unspoil-seek button:hover:active {
	opacity: 0.75;
}

/* Toggle on VOD pages only */

body._unspoil-off #_unspoil-seek, .video-player__overlay > *:nth-child(7):last-child #_unspoil-seek {
	display: none !important;
}
