#_unspoil-seek ._unspoil-separator {
  padding: 0 8px !important;
}

#_unspoil-seek ._unspoil-faint {
  opacity: 0.9;
  color: #eee !important;
}

#_unspoil-seek button {
  margin: 0 2px !important;
  outline: none !important;
  background: none !important;
}
#_unspoil-seek button:hover, #_unspoil-seek button:hover ._unspoil-faint {
  color: rgb(169, 145, 212) !important;
}
#_unspoil-seek button:hover:active {
  opacity: 0.75;
}

/*TODO remove old*/
body:not(._unspoil-off) #js-player-seek > div:first-child, body:not(._unspoil-off) .player-seek > div:not(#_unspoil-seek) {
  visibility: hidden !important;
}

body._unspoil-off #_unspoil-seek {
  display: none !important;
}

body:not(._unspoil-off) .player-menu {
  display: none;
}
